// responsive extension
//@import "bootstrap.less/bootstrap.less";
@import "bootstrap.less/responsive.less";


@import url("../stylesheets/common_org.css");

// responsive css
@media (max-width: 767px) {
    #M_container {
        width: auto !important;
    }
    body {
        padding-left: 0;
        padding-right: 0;
    }
    .responsive-wrapper {
        &#M_header_sp {
            .logo-box {
                padding-left: 20px;
                padding-right: 20px;
                .logo {
                    padding:0;
                    margin:0;
                    padding-top: 20px;
                    float: left;
                    img {
                        width: 150px;
                        height: auto;
                    }
                }
                .login-link {
                    display: block;
                    float: right;
                    color: white;
                    font-size: 14px;
                    background-color: black;
                    margin-top: 20px;
                    line-height: 25px;
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
            .help-links-box {
                clear: both;
                width: 100%;
                height: 44px;
                &.black {
                    background-color: black;
                    li.help-link {
                        border-right: 1px solid white;
                    }
                    a {
                        color: white;
                    }
                }
                ul {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    width: 300px;
                    margin: 0 auto;
                    li {
                        padding: 0;
                        margin: 0;
                        float: left;
                        text-align: center;
                        line-height: 44px;
                        a {
                            line-height: 44px;
                        }
                        &.help-link {
                            width: 145px;
                            padding-right: 4px;
                            border-right: 1px solid black;
                            img {
                                width: 12px;
                                height: 20px;
                            }
                        }
                        &.cart-link {
                            width: 145px;
                            padding-left: 5px;
                            img {
                                width: 23px;
                                height: 20px;
                            }
                        }
                    }
                }
            }
            .search-box {
                width: 240px + 5px + 40px + 10px;
                margin: 0 auto;
                #search_box_mobile {
                    border: solid 1px #191919;
	            width: 242px;
	            height: 22px;
	            font-size: 17px;
                    @media screen and (-webkit-min-device-pixel-ratio:0) {
                        position: relative;
		        top: 1px;
                    }
                }
                #submit_button_mobile {
                    margin-left: 5px;
                    border: solid 1px #191919;
	            padding-top: 1px\9; //hack for ie
	            width: 40px;
	            height: 22px;
	            font-size: 12px;
	            color: #ffffff;
	            background-color: #191919;
	            position: relative\9;// hack for ie
	            top: 0px\9; // hack for ie
                }
                *+html input#submit_button_mobile{
		    position: relative;
		    bottom: 0;
	        }// hack for ie7

	        input#submit_button_mobile, x:-moz-any-link {
		    position: relative;
		    bottom: 1px;
	        }// hack for firefox

	        input#submit_button_mobil:hover {
		    color: #909090;
		    cursor: pointer;
	        }
            }
            .menus {
                padding-top: 10px;
                &.bottom {
                    padding-top: 1px;
                }
                .mobile-menu {
                    list-style: none;
                    li {
                        width: 100% / 3.0;
                        background-color: black;
                        float: left;
                        line-height: 44px;
                        height: 44px;
                        text-align: center;
                        border-left: 1px solid white;
                        margin-left: -1px;
                        &.left {
                            border-left: none;
                            margin-left: 0;
                        }
                        a {
                            dispay: inline-block;
                            width: 100%;
                            line-height: 44px;
                            color: white;
                            font-weight: bold;
                        }
                    }
                    &.lower-menu {
                        li {
                            border-top: solid 1px white;
                        }
                    }
                }
            }
            .vertical-list {
                clear: both;
                ul {
                    list-style: none;
                    li {
                        padding-left: 20px;
                        height: 44px;
                        line-height: 44px;
                        border-bottom: solid 1px black;
                        a {
                            display: inline-block;
                            width: 100%;
                            font-weight: bold;
                            text-decoration: none;
                            line-height: 44px;
                        }
                    }
                }
            }
            .topic-title {
                padding: 0;
                margin: 0;
                padding-left: 20px;
                background-color: black;
                width: 100%;
                color: white;
                font-size: 16px;
                line-height: 30px;
            }
            .two-column-list-box {
                @border-color: rgba(0.0, 0.0, 0.0, 0.3);
                
                .list-item {
                    background-color: white;
                    height: 44px;
                    line-height: 44px;
                    border-bottom: solid 1px @border-color;
                    h3 {
                        color: black;
                        font-size: 16px;
                        margin: 0;
                        padding: 0;
                    }
                    .description {
                        font-size: 12px;
                        color: red;
                        
                    }
                }
                .two-column-list {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    li {
                        padding: 0;
                        margin: 0;
                        width: 50%;
                        font-size: 16px;
                        height: 44px;
                        line-height: 44px;
                        
                        &:nth-child(odd) {
                            float: left;
                            border-right: solid 1px @border-color;
                            margin-left: -1;
                        }
                        &:nth-child(even) {
                            float: right;
                        }
                        
                        border-top: solid 1px @border-color;
                        &:nth-child(1), &:nth-child(2) {
                            border-top: none;
                        }
                        
                        a {
                            line-height: 44px;
                            padding-left: 20px;
                        }
                        
                    }
                    &:after {
                        content: "";
                        clear: both;
                        height: 0;
                        display: block;
                        visibility: hidden;
                    }
                }
            }
            
            .features-box {
                .feature-element {
                    .bottom-link-box {
                        background-color: rgba(0.0, 0.0, 0.0, 0.01);
                        height: 44px;
                        line-height: 44px;
                        text-align: right;
                        padding-right: 40px;
                        a {
                            line-height: 44px;
                        }
                    }
                    .feature-box {
                        h3 {
                            width: 100%;
                            padding-left: 20px;
                            font-size: 16px;
                            color: white;
                            font-weight: normal;
                            background-color: black;
                        }
                        img {
                            width: 100% / 3.0;
                        }
                    }
                }
            }
            .fake-slideshow {
                ul {
                    list-style: none;
                    li {
                        a {
                            img {
                                width: 100%;
                                max-width: 100%;
                            }
                        }
                    }
                }
                .pager {
                    text-align: center;
                    a {
                        font-size: 24px;
                        color: rgb(150, 150, 150);
                    }
                    .previous-link, .next-link {
                        color: black;
                    }
                    .active {
                        color: black;
                    }
                    
                }
            }
            #sale-slideshow {
                
            }
            .notifications {
                border-top: solid 1px white;
                ul {
                    li {
                        background-color: black;
                        border-color: white;
                        a {
                            color: white;
                        }
                    }
                }
            }
            .mobile-footer {
                background-color: black;
                padding-left: 20px;
                
                .logo-box {
                    padding-top: 10px;
                    padding-bottom: 20px;
                    img {
                        width: 150px;
                        height: auto;
                    }
                }
                p {
                    padding: 0;
                    margin: 0;
                    color: white;
                    font-size: 12px;
                }
                padding-bottom: 40px;
            }

        }
    }
}
